**/mvnw text eol=lf
*.cmd text eol=lf
*.sh text eol=lf
*.java text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.yml text eol=lf
*.gitattributes text eol=lf
*.gitignore text eol=lf
*.md text eol=lf